.item-a{
    grid-area:header;
    background-color: rgba(33,150,243,255);
    color: white;
}

.item-b{
    grid-area:list;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    background-color: rgba(241,245,247,255);
}


.item-c{
    grid-area:content;
    display: flex;
    flex-flow: column wrap;
    background-color: white;
    
}
.item-d{
    grid-area:rights;
    background-color: rgba(33,150,243,255);
    color: white;
}
.content-ad{
    display: flex;
    flex-flow: row  wrap;
}
.desc-ad{
    margin-left: 20px;
}
.time-price{
    display: flex;
    flex-flow: row  wrap;
    justify-content: space-around;
}
.container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    flex-flow: column wrap;
    grid-template-areas: 
    "header"
    "list"
    "content"
    "rights";
    background-color: rgb(195, 191, 191);
   
}

