@media only screen and (min-width: 320px) { 
   
h2,h3{
    font-weight: normal;
}
.item-a{
    grid-area:header;
    background-color:  rgba(33,150,243,255);
    color: white;
}
.item-a h1{
    margin-left: 10px;
}
.item-b{
    grid-area:welcome;
    background-color: rgba(207,216,220,255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.item-c{
    
    grid-area:form;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.item-d{
    grid-area:rights;
    background-color: rgba(33,150,243,255);
    color: white;
}
.item-d h4{
    margin-left: 10px;
    font-weight: normal;
}
.container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px  500px  auto  80px;
    flex-flow: column ;
    grid-template-areas: 
    "header"
    "welcome"
    "form"
    "rights";
}

img{
    border-radius: 100%;
    background-color: white;
    max-width: 30%;  
    height: 30%;  
}
.formulaire {
    display: flex;
    flex-flow: column ;
   height: 20rem;
   align-items: center;
}
.div-form-login{
   margin-top: 20px;
}
#username, #password{
    background-color: rgba(241,245,247,255);
    border:none;
    height:50px;
    width: 280px;
    
}
.div-form-submit{
    margin-top: auto;
    margin-bottom: 20px;
}
.form-submit{
    border:none;
    background-color: rgba(33,150,243,255);
    height:50px;
    width: 280px;
}

html, body,.container { height : 100%; }
body{
    margin: 0;
}
}